# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
package-lock.json

# Environment
.env
.env.local
.env.development
.env.production

# Build output
dist/
build/

# Database
*.db
drizzle/meta/

# Editor
.vscode/
.idea/
.DS_Store

